:root {
  --primary-bg-color: #FFFBDB;
  --secondary-bg-color: #D0F0FF;
  --primary-font-color: #E09B43;
  --dropdown-color: #B3A9E1;
  --button-color: #847AB5;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif
}

#root{
  background-color: var(--primary-bg-color)
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
}

.left-column, .right-column {
  width: 18%
}

.middle-column {
  width: 64%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.right-column, .left-column {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;

}

.logo{
  width: 50%;
  margin-top: 20px;
  margin-bottom: 85px;
}

.favourites-content, .post-link-content{
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 0px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.favourites-content {
  margin-top: 85px;
}

.favourites-content > h2, .post-link-content > h2 {
  color: var(--primary-font-color);
  font-size: 20px;
}

.favourites-content > ul, .fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-bg-color);
  min-height: 40vh;
  width: 90%;
  margin: 5% 0;
}

.favourites-content > ul {
  padding-bottom: 7px;
}

.fields > div {
  width: 100%;
}

.wrapper-item1 > input, .wrapper-item2 > input {
  height: 3vh;
  border: none;
  text-align: center;
}

.wrapper-item3 > input {
  height: 20vh;
  border: none;
  text-align: center;
}

.favourites-content > ul > li, .fields > div > input {
  width: 90%;
  background-color: var(--primary-bg-color);
  margin-top: 5%;
  color: var(--primary-font-color);
  font-size: 10px;
}

::placeholder {
  color: var(--primary-font-color);
}

.favourite {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.favourite > img {
  width: 10%;
}

.favourite > a {
  width: 70%;
  color: var(--primary-font-color);
  margin: 5% 0;
}

#save-button, .post-link-content > button, .search-button{
  border-radius: 94px;
  width: 70%;
  height: 35px;
  background-color: var(--button-color);
  border: none;
  color: var(--primary-bg-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#save-button:hover {
  background-color: var(--primary-font-color);
}

.middle-column > h1 {
  color: var(--primary-font-color);
  margin-top: 2vh;
  height: 10vh;
}

.search-input {
  background: var(--secondary-bg-color);
  border: none;
  width: 70%;
  color: var(--primary-font-color);
  font-size: 12px;
  padding-left: 5px;
  height: 70%;
}

input:focus {
  outline: none;
}

.search-button {
  width: 20%;
  height: 90%;
  font-size: 12px;
  height: 70%;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}

.search-box {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 70%;
  justify-content: space-around;
  align-items: center;
}

.dropdown {
  margin-top: 0px;
  margin-bottom: 5px;
  width: 15%;

}

.typeDropdown {
  margin-top: 0px;
  margin-bottom: 5px;
  width: 25%;
}

.dropdown, .typeDropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 12px;
  align-items: center;
  height: 70%;
}

.dropdown > label, .typeDropdown > label {
  color: var(--primary-font-color);
  width: 50%;
}

select {
  background: var(--dropdown-color);
  color: var(--primary-bg-color);
  border: none;
  width: 90%;
  font-size: 12px;
}


.results > div {
  margin-top: 0px;
  padding-top: 0px;
  width: 90%;
}

.results {
  margin-top: 0px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-bg-color);
  min-height: 40vh;
  /* overflow: scroll; */
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--primary-bg-color);
  margin-top: 10px;
  color: var(--primary-font-color)
}

#paragraph {
  margin:0;
  padding: 2%;
  width: 55%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient: vertical;
  line-height: 16px; /* Height taken by one line */
   max-height: 40px;
  
}
#paragraph p{
  margin: 0;
  letter-spacing:0.5px;
  font-weight: 500;

}

.result > div {
  width: 30%;
  margin: 5px 0;
  padding-top: 0
}

.search-button {
  height: 20px;
  background-color: var(--button-color);
  border: none;
  color: var(--primary-bg-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 2px;
}

h4 {
  font-size: 14px;
  margin: 5px;
}

h4 > button, .favourite > button {
  background: none;
  border: none;
  margin-right: 5px;
}

h4 > button:hover, .favourite > button:hover {
  
}




h4 > button:hover, .favourite > button:hover, #save-button, .post-link-content > button, .search-button, .delete-button:hover {
  cursor: pointer;
}

.submit-button:hover {
  color: var(--primary-font-color);
  color: white;

}

.result > p {
  width: 60%;
  text-align: left;
  font-size: 9pt;
  margin: 5px 0;
}

hr {
  margin-top: 10px;
  border-top: 2px solid var(--primary-font-color);
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.navlist{
  color: var(--primary-font-color);
  font-weight: bold;
  display: flex;
  flex-direction: space-around;
  list-style-type: none;
  align-items: center;
}

.navlist > li {
  padding: 20px;
  margin-top: 10px;
  margin: 10px;
  background-color: var(--button-color);
  color: var(--primary-bg-color);
  width: 50%;
  border-radius: 15px;
}

.navlist >li:hover {
  background-color: var(--primary-font-color);
  color: white;
  cursor: pointer;
}

nav{
  margin-bottom: 20vh;
  margin-top: 10px;
  display: flex;
  flex-direction: space-around;
  width: 100%;
}

nav > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.faved {
  background-color: var(--primary-font-color);
}

button:hover {
  background-color: var(--primary-font-color);
  color: white;
}

.wrapper-itemDropdown {
  height: 10%;
}

.wrapper-itemDropdown > div {
  width: 100%;
  height: 80%;
}

.wrapper-itemDropdown > div > select {
  height: 100%;
  margin-top: 10px;
}

.end {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
}

.end > h4 {
  padding-top: 5px;
  height: 50%;
  margin: 0;
  width: 200px;
  color: var(--primary-font-color);
  background-color: var(--primary-bg-color);
}


.result .delete-button{
  border-radius: 94px;
  width: 10%;
  height: 35px;
  background-color: var(--button-color);
  border: none;
  color: white;
  margin-top:6%;
  margin-right: 2%;
  margin-bottom: 1%;
}
.result .delete-button:hover{
  background-color: var(--primary-font-color);
}

a:hover {
  color: #0000EE;
}
h4 > a {
  color: var(--primary-font-color);
}

