.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-column, .right-column {
  width: 18%
}
.middle-column {
  width: 60%
}

.right-column {
text-align: center;
justify-content: center;

}

.post-link-content{
  height: 50vh;
  width: 25vh;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  float: right;
}
.post-link-content .item{
  width: 90%;
  margin: 5px;
  padding: 0;
  position: relative;
}
.post-link-content .wrapper{
  height: 15px;
  border: 1px solid red;
}
.post-link-content .description{
  height: 60px;
}
input{
  width: 90%;
  position: relative;
}
#des{
  height: 100px;
}



.favourite {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.favourite > img {
  height: 20px;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: space-around;
}

.result > div {
  width: 20%;
}

.result > p {
  width: 50%;
  text-align: left;
}

hr {
  width: 90%;
}

