.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.post-link-content{
  height: 50vh;
  width: 25vh;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  float: right;
}
.post-link-content .item{
  width: 90%;
  margin: 5px;
  padding: 0;
  position: relative;
}
.post-link-content .wrapper{
  height: 15px;
  border: 1px solid red;
}
.post-link-content .description{
  height: 60px;
}
input{
  position: absolute;
}
#des{
  height: 100px;
}



.favourite {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.favourite > img {
  height: 20px;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: space-around;
}

.result > div {
  width: 20%;
}

.result > p {
  width: 50%;
  text-align: left;
}

hr {
  width: 90%;
}

